@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-tag {
    @apply bg-blue-500 bg-opacity-20 text-blue-800
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
.fade-in {
    animation: fadeIn 0.5s ease-out;
}
